@page "/consoleWide"

<PageTitle>Console Demo</PageTitle>

<h1>Console Demo</h1>
<a href="console">Empty Char</a>
<a href="consoleSimple">Simple Char</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitApp"></WebConsole>
