@page "/consoleThreading"

<PageTitle>Console Demo</PageTitle>

<h1>Console Demo</h1>
<a href="consoleSimple">Simple Char</a>
<a href="consoleWide">Wide Char</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitApp"></WebConsole>
