@page "/console"

<PageTitle>Console Demo</PageTitle>

<h1>Console Demo</h1>
<a href="consoleSimple">Simple Char</a>
<a href="consoleWide">Wide Char</a>
<a href="consoleScrolling">Scrolling</a>
<a href="consoleProgress">Progress</a>
<a href="consoleThreading">Threading</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitApp"></WebConsole>
